<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="container mx-auto px-4 py-2">
        <h1 class=" text-4xl font-bold text-center">Great to have you back!</h1>
        <div class="mt-16">
            <input type="text" 
                class="
                h-12
                font-sans
                text-lg
                bg-gray-600
                "
                placeholder="Email or User Name"/>
                <input type="password" 
                class="
                mt-5
                h-12
                font-sans
                text-lg
                bg-gray-600
                "
                placeholder="Password"/>
                <input type="checkbox" class="mr-4 mt-5" name="rememberMe" value="rememberMe"/>
                <label for="rememberMe">Remember me</label>
                <button class="btn-Submit mt-10 h-12">Login</button>
            </div>
        </div>
</body>
</html>